<h3>Edit Employee</h3>
<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="employee.email"
        name="employee.email" #validEmail="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

      <div class="alert alert-danger" role="alert"
        *ngIf="validEmail.invalid && (validEmail.dirty || validEmail.touched)">
        <div *ngIf="validEmail.errors.required">Email is required</div>
        <div *ngIf="validEmail.errors.pattern">Not a valid email</div>
      </div>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <select id="inputState" class="form-control" required pattern="^((?!Choose...).)*$" name="employee.title"
        [(ngModel)]="employee.title" #validTitle="ngModel">
        <option selected>Choose...</option>
        <option>Mr</option>
        <option>Mrs</option>
        <option>Mx</option>
        <option>Miss</option>
        <option>Dr</option>
      </select>
      <div class="alert alert-danger"
        *ngIf="validTitle.invalid && (validTitle.dirty || validTitle.touched) && title=='Choose...'">
        <div *ngIf="validTitle.errors.pattern">Title is required</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="employee.name"
        [(ngModel)]="employee.name" #validName="ngModel" required>
      <div class="alert alert-danger" role="alert" *ngIf="validName.invalid && (validName.dirty || validName.touched)">
        <div *ngIf="validName.errors.required">Name is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="middleName">Middle Name</label>
      <input type="text" class="form-control" id="middleName" name="employee.middleName"
        [(ngModel)]="employee.middleName" placeholder="Middle Name">
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="employee.lastName"
        [(ngModel)]="employee.lastName" #validLastName="ngModel" required>
      <div class="alert alert-danger" role="alert"
        *ngIf="validLastName.invalid && (validLastName.dirty || validLastName.touched)">
        <div *ngIf="validLastName.errors.required">Last Name is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" name="employee.phone" [(ngModel)]="employee.phone"
        #validPhone="ngModel">
    </div>
    <div class="form-group col-md-6">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" id="mobile" name="employee.mobilePhone" [(ngModel)]="employee.mobilePhone"
        #validMobilePhone="ngModel">
    </div>
    <div class="form-group col-md-12">
      <div class="alert alert-danger" role="alert"
        *ngIf="((validPhone.dirty || validPhone.touched) && phone==='' && mobilePhone==='') || ((validMobilePhone.dirty || validMobilePhone.touched) && mobilePhone==='' && phone==='')">
        <div>Phone or Mobile Phone is requred (8 to 10 digits)</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="dob">Dob</label>
    <input type="date" class="form-control" id="dob" name="employee.dob" [(ngModel)]="employee.dob" data-date=""
      data-date-format="DD/MM/YYYY" value="1992-01-28">
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>

<div *ngIf="hasError">
  <div class="alert alert-danger" role="alert">
    <div>All fields are requried, except Middle Name</div>
    <div>Phone or Mobile Phone is requred (8 to 10 digits)</div>
  </div>
</div>