<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/EM_Logo_2.png" class="d-inline-block align-top" width="70" height="70" alt="logo">
      <div class="navbar-brand-product-name">
        Employee Management
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link management-menu" href="#"></a>
        </li>
      </ul>
    </div>
    <app-login></app-login>
  </nav>
  <app-menu></app-menu>
</header>