<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img class="carousel_image" src="/assets/images/1.jpg" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="carousel_image" src="/assets/images/2.jpg" alt="Random second slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="carousel_image" src="/assets/images/3.jpg" alt="Random third slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
</ngb-carousel>