<div class="container">
  <div class="response-message">
    <div class="alert alert-danger" *ngIf="message.isError">
      <p>{{ message.message}}</p>
      <p> Status Code: {{message.statusCode}} </p>
    </div>

    <div class="alert alert-info" *ngIf="!message.isError && message.statusCode>0">
      <p>{{ message.message}}</p>
    </div>
  </div>
  <!-- <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)"> -->
  <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <!--Note: for passing value from view to datasource: https://angular.io/guide/template-syntax#binding-syntax-an-overview
    for example:  [(ngModel)]="username" name="username"
  -->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
        [(ngModel)]="username" name="username" #validEmail="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required>

      <!-- Note: #validPassword on input element is for the validation:
          https://angular.io/guide/form-validation#template-driven-validation
          #validPassword: exporting ngModel to local variable validPassword
          Note: pattern, required attribute are from HTML 5; for more:
          https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation
    -->

      <div *ngIf="validEmail.invalid && (validEmail.dirty || validEmail.touched)" class="alert alert-danger">
        <div *ngIf="validEmail.errors.required">
          Email is required.
        </div>

        <div *ngIf="validEmail.errors.pattern">
          Email is not valid.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password"
        name="password" #validPassword="ngModel" minlength="8"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>

      <div *ngIf="validPassword.invalid && (validPassword.dirty || validPassword.touched)" class="alert alert-danger">
        <div *ngIf="validPassword.errors.required">
          Password is required.
        </div>

        <div *ngIf="validPassword.errors.pattern">
          <span>Password is not valid</span>
          <ul>
            <li> UpperCase, LowerCase</li>
            <li> Number/SpecialChar </li>
            <li> Min 8 Chars </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign In</button>
  </form>
</div>