<div class="menu-container">
  <div class="menu">
    <button class="menu-management">Management</button>
    <div class="menu-container-body">

      <div class="menu-container-items">
        <div class="menu-container-sub-items admin">
          <h5>Admin</h5>
          <ul>
            <li><a href="#">Add Employee</a></li>
            <li><a href="#">Disable Employee</a></li>
            <li><a href="#">Update Employee</a></li>
          </ul>
        </div>
        <div class="menu-container-sub-items">
          <div class="menu-sub-sub-items">
            <h5>Employee Information</h5>
            <ul>
              <li><a href="#">Employee</a></li>
              <li><a href="#">Disable Employee</a></li>
            </ul>
          </div>
        </div>
        <div class="menu-container-sub-items">
          <div class="menu-sub-sub-items">
            <h5>Employee Details</h5>
            <ul>
              <li><a href="#">Add Employee</a></li>
              <li><a href="#">Disable Employee</a></li>
              <li><a href="#">Update Employee</a></li>
              <li><a href="#">Update Employee</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <button class="menu-management">Employee Information</button>
    <div class="menu-container-body">

    </div>
  </div>
</div>