/* You can add global styles to this file, and also import other style files */
$font-color: #fbc531;
$font-header-color: #00a8ff;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: rgb(94, 94, 94);
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a:link,
a:visited {
  color: #fbc531;
  text-decoration: none;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
}


h1 {
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  /* we want all element to be relative, not pixel */
  word-spacing: 4px;
}

h2 {
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

/* will display small line under heading */
h2::after {
  display: block;
  height: 2px;
  background: #00a8ff;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  word-spacing: 2px;
  margin-bottom: 15px;
}

