$font-color: #fbc531;
$font-header-color: #00a8ff;

.home_section {
  background-color: $font-header-color;
  height: 100vh;
}

.home_carousel {
  height: 100%;
  width: 100%;
}

.home_section_hero {
  position: absolute;
  z-index: 5;
  top: 35%;
  width: 75%;

}

.home_section_text_container {
  border-radius: 0 10px 10px 10px;
  background-image: linear-gradient(rgba(184, 181, 181, 0.541), rgba(255, 255, 255, 0.548));
}

.home_section_hero_text {
  padding: 50px;

  h1 {
    color: $font-header-color;
  }
}

.home_hero_text {
  color: $font-header-color;
}
