<section class="home_section">
    <div class="container">
        <div class="home_section_hero">
            <div class="home_section_text_container">
                <div class="home_section_hero_text">
                    <h1>Welcome</h1>
                    <div class="home_hero_text">
                        <h4>Employee Management</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="home_carousel">
        <app-carousel> </app-carousel>
    </div>

</section>